.counter-container {
    position: fixed;
    width: 100%;
    top: 15px;
    z-index: 9999;
}
#load-counter {
    display: none;
    position: relative;
    width: 100px;
    height: 60px;
    margin-left: 2.5%;
    line-height: 60px;
    background: rgba(204, 204, 204, 0.9);
    border-radius: 4px;
    font-family: arial;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
}
#load-counter:hover {
    border-radius: 4px 0 0 4px;
    border-right: 0;
}
#load-counter:after {
    content: '1 meow = 1 lazy loaded image';
    position: absolute;
    background: rgba(196, 196, 196, 0.9);
    border-radius: 0 4px 4px 0;
    box-shadow: inset 4px 0 5px -4px #999999;
    left: 100%;
    width: 0;
    overflow: hidden;
    height: 60px;
    line-height: 60px;
    font-weight: normal;
    font-size: 12px;
    top: 0px;
    transition: width 0.3s ease-in-out;
}
#load-counter:hover:after {
    width: 200px;
}

@media only screen and (min-width: 768px) {
    #load-counter {
        margin-left: calc((100% / 2) - (730px / 2));
    }
}